<div class="col-md-6">
    <form>
        <h1>Best match words displayed in a word cloud:</h1>
        <div class="col-md-7">
            <input data-bind="textInput: word">
            <input type="submit" value="Submit" data-bind="click: changeWords">
        </div>
        <div class="col-md-5">
            <button data-bind="click: showtags">See most common tags</button>
        </div>
    </form>
    <div class="cloud" data-bind="cloud: {words}"></div>
</div>


<div class="col-md-6" id="graph">
    <h1>Association network:</h1>
    <input data-bind="value: graphword"><br>
    <input type="submit" value="Submit" data-bind="click: makeAssociation">
    <div data-bind="visual: graph"></div>
</div>



<div class="col-md-12" data-bind="template: {name: currentView}"></div>

<script type="text/html" id="postlist">
    <h1>Latest Questions</h1>
    <div data-bind="foreach: posts">

        <div class="col-md-12">
            <a href="#" data-bind="click: $parent.showPost"><h4 data-bind="text: title"></h4></a>
            <p data-bind="text: body">

            </p>
            <div>
                <span class="badge" data-bind="text: date"></span>
            </div>
            <hr>
        </div>
    </div>
</script>

<script type="text/html" id="postview">
    <h1 data-bind="text: title"></h1>
    <div>
        <button data-bind="click: home">Back</button>
    </div>

    <div data-bind="with: currentPost">
        <h1 data-bind="text: title"></h1>
        <h2 class="creation-date">
            Creation Date: <span data-bind="text: creationDate"></span>
        </h2>
        <h2>
            Score: <span data-bind="text: score"></span>
        </h2>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-7">
                <div data-bind="html: body"></div>
            </div>


            <div class="col-md-7" data-bind="foreach: comments">
                <h1>Comments</h1>
                <div data-bind="html: body"></div>
                <hr />
            </div>
        </div>
        <div data-bind="foreach: answers">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-7">
                    <h1>Answers</h1>
                    <div data-bind="html: body"></div>
                </div>
                <!--<div class="col-md-7" data-bind="foreach: comments">
                    <h1>Comments of the Answers</h1>
                    <div data-bind="html: body"></div>
                    <hr/>
                </div>-->
            </div>
            <hr />


        </div>

        <div class="col-md-7" data-bind="foreach: comments">
            <h1>Comments of the Answers</h1>
            <div data-bind="html: body"></div>
            <hr />
        </div>


        <div class="col-sm-3 col-sm-offset-1 blog-sidebar sidebar-linked">
            <h4>Linked posts</h4>
            <div data-bind="foreach: linkedPosts">

                <div class="sidebar-module">

                    <ul class="list-group">
                        <li class="list-group-item"> <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: title"></span></a></li>

                    </ul>

                </div>

                <hr />
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar sidebar">
            <h4>Tags</h4>
            <div data-bind="foreach: showTags">

                <div class="sidebar-module">

                    <ul class="list-group">
                        <li class="list-group-item"> <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: name"></span></a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>

</script>

