<div class="col-md-6" data-bind="cloud: {words}" style="min-width: 200px; min-height: 200px">
    <form>
        Find the best match to a word by typing in a word and see it in a new word cloud:<br>
        <input data-bind="textInput: word"><br>
        <input type="submit" value="Submit" data-bind="click: submitword">
    </form>
    <button data-bind="click: showtags">See most common tags</button>
</div>






<div class="col-md-6" data-bind="template: {name: currentView}"></div>







<script type="text/html" id="postlist">
    <h1>Latest Questions</h1>
    <div data-bind="foreach: posts">
        <div>
            <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: title"></span></a>
        </div>
    </div>

</script>

<script type="text/html" id="postview">
    <div>
        <button data-bind="click: home">Back</button>
    </div>
    <div data-bind="with: currentPost">
        <h2 data-bind="text: title"></h2>
        <h3>
            Creation Date: <span data-bind="text: creationDate"></span>
        </h3>
        <h3>
            Score: <span data-bind="text: score"></span>
        </h3>
        <div data-bind="html: body"></div>

        <hr />

        <div data-bind="foreach: answers">
            <div data-bind="html: body"></div>
            <hr />

        </div>
        <div style="background-color: blue" data-bind="foreach: comments">
            <div data-bind="html: body"></div>
            <hr />

        </div>


    </div>

</script>
