<div class="col-md-12" data-bind="template: {name: currentView}"></div>
<script type="text/html" id="postlist">
    <div data-bind="foreach: posts">

        <div class="row">
            <div class="col-md-1">
                <input type="image" class="thumb" src="../../img/blue_thumb.png" data-bind="click: $parent.addMark" />
                <input type="image" class="thumb" src="../../img/red_thumb.png" data-bind="click: $parent.removeMark" />

            </div>
            <div class="col-md-11">

                <a href="#" data-bind="click: $parent.showPost"><h4 data-bind="text: title"></h4></a>
                <p data-bind="text: body">

                </p>

                <div>
                    <span class="badge" data-bind="text: creationDate"></span>

                    <div class="pull-right">

                    </div>
                </div>

            </div>
        </div>
        <hr>


    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" data-bind="click: prev, enable: canPrev">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Next" data-bind="click: next, enable: canNext">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</script>



<script type="text/html" id="postview">
    <h1 data-bind="text: title"></h1>
    <div>
        <button data-bind="click: home">Back</button>
    </div>

    <div data-bind="with: currentPost">
        <h1 data-bind="text: title"></h1>
        <h2 class="creation-date">
            Creation Date: <span data-bind="text: creationDate"></span>
        </h2>
        <h2>
            Score: <span data-bind="text: score"></span>
        </h2>
        <div class="row">
            <div class="col-md-1">

                <!--<input type="image" class="thumb" src="../../img/blue_thumb.png" data-bind="click: $parent.addMark" />
                <input type="image" class="thumb" src="../../img/red_thumb.png" data-bind="click: $parent.removeMark" />-->
               

            </div>
            <div class="col-md-7">
                <div data-bind="html: body"></div>
            </div>


            <div class="col-md-7" data-bind="foreach: comments">
                <h1>Comments</h1>
                <div data-bind="html: body"></div>
                <hr />
            </div>
        </div>
        <div data-bind="foreach: answers">
            <div class="row">
                <div class="col-md-1">

                    <input type="image" class="thumb" src="../../img/blue_thumb.png" data-bind="click: $parent.addMark" />
                    <input type="image" class="thumb" src="../../img/red_thumb.png" data-bind="click: $parent.removeMark" />
                    

                </div>
                <div class="col-md-7">
                    <h1>Answers</h1>
                    <div data-bind="html: body"></div>
                </div>
            </div>
            <hr />
        </div>
        
        <div class="col-md-7" data-bind="foreach: comments">
            <h1>Comments of the Answers</h1>
            <div data-bind="html: body"></div>
            <hr/>
        </div>


        <div class="col-sm-3 col-sm-offset-1 blog-sidebar sidebar-linked">
            <h4>Linked posts</h4>
            <div data-bind="foreach: linkedPosts">

                <div class="sidebar-module">

                    <ul class="list-group">
                        <li class="list-group-item"> <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: title"></span></a></li>

                    </ul>

                </div>

                <hr />
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar sidebar">
            <h4>Tags</h4>
            <div data-bind="foreach: showTags">

                <div class="sidebar-module">

                    <ul class="list-group">
                        <li class="list-group-item"> <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: name"></span></a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>

</script>


