<h1 data-bind="text: title"></h1>

<div class="col-md-6"  data-bind="template: {name: currentView}"></div>
<div class="col-md-6"  data-bind="template: {name: visitedPostsView}"></div>


<script type="text/html" id="postlist">
    <div data-bind="foreach: posts">
        <div>
            <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: text"></span></a>
            <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: date"></span></a>
        </div>
    </div>

</script>

<script type="text/html" id="visitedpostlist">
    <div data-bind="foreach: visitedPosts">
        <div>
            <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: title"></span></a>
            <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: date"></span></a>
            <span data-bind="text: body"></span>
        </div>
    </div>

</script>