<h1 data-bind="text: title"></h1>

<div data-bind="template: {name: currentView}"></div>

<script type="text/html" id="postlist">
    <div data-bind="foreach: posts">
        <div>
            <a href="#" data-bind="click: $parent.showPost"><span data-bind="text: title"></span></a>
            <span class="search-date" data-bind="text: date"></span>
            <div class="row">
                <div class="col-md-1">
                    <input type="image" class="annotation" data-toggle="modal" data-target="#myModal" src="../../img/annotation.jpg"/>
                </div>
                <div class="col-md-11">
                    <div data-bind="html: body"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Write annotation</h4>
            </div>
            <div class="modal-body">
                <textarea placeholder="Enter some text" data-bind="textInput: annotation"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: saveAnnotation">Save changes</button>
            </div>
        </div>
    </div>
</div>